<% include header.ejs %>


<div class="container" id="login">
    <div class="row"  style="margin-top: 46px">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card" style="width:26em; box-shadow:-1px 7px 20px 2px">
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-1">
                            <i class="material-icons prefix" style="color: green">mode_edit</i>
                        </div>
                        <div class="col-sm-1">
                            <div></div>
                        </div>
                        <div class="col-sm-4">
                            <span><b>login</b></span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-content">
                    <form action="/login" method="POST" class="form-group">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="first_name" type="text" class="validate" name="name">
                                <label for="first_name">ENTER YOUR NAME</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="password" type="password" class="validate" name="password">
                                <label for="password">Enter password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">

                            </div>
                            <div class="input-field col-md-5">
                                <div class="pull-right">
                                    <button class="btn waves-effect waves-light" id="nameButton">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer.ejs %>
